@media screen and (min-width: 993px) {
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 55;
    padding-top: 10%;
  }
  .projects span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .projects img {
    height: 250px;
    width: 100%;
    filter: drop-shadow(-12px 15px 13px rgba(255, 191, 0, 0.25));
    border-radius: 2%;
  }
  .link {
    text-decoration: none;
    font-size: 1vw;
    display: flex;
    justify-items: baseline;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 55;
    padding-top: 15%;
  }
  .projects span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .projects img {
    height: 300px;
    width: 100%;
    filter: drop-shadow(-12px 15px 13px rgba(255, 191, 0, 0.25));
    border-radius: 2%;
  }
  .link {
    text-decoration: none;
    font-size: 2vw;
    display: flex;
    justify-items: baseline;
    align-items: baseline;
  }
}
@media screen and (max-width: 767px) {
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 55;
    padding-top: 25%;
  }
  .projects span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .projects img {
    height: 200px;
    width: 100%;
    filter: drop-shadow(-12px 15px 13px rgba(255, 191, 0, 0.25));
    border-radius: 2%;
  }
  .link {
    text-decoration: none;
    font-size: 4vw;
    display: flex;
    justify-items: baseline;
    align-items: baseline;
  }
}
