.E-Navbar {
  background-color: #161b40;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 10;
}
.E-link1 {
  width: 300px;
}
.link1 {
  width: 200px;
  text-decoration: none;
  color: red;
  font-size: 25px;
}
.link1:hover {
  color: white;
  font-size: 30px;
}
.N-Search {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
input {
  border-radius: 50px;
  padding: 5px 20px;
  height: 30px;
}
.N-link2 {
  width: 100px;
}
.link2 {
  position: relative;
  text-decoration: none;
  color: red;
  font-size: 25px;
}
.link2:hover {
  font-size: 30px;
  color: white;
}
