@media (min-width: 1440px) and (max-width: 2560px) {
  .About {
    display: flex;
    height: 80vh;
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 650;
    width: 30rem;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right {
    position: relative;
  }
  .a_right_card {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 45vw;
    height: 100%;
    flex-wrap: wrap;
  }
  .card {
    position: relative;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0rem 0.625rem 0rem 0.625rem;
    margin: 0rem 1rem 0rem 0rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 5rem;
    width: 6rem;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .About {
    display: flex;
    height: 100vh;
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    width: 20rem;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right {
    position: relative;
  }
  .a_right_card {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 50vw;
    height: 100%;
    flex-wrap: wrap;
  }
  .card {
    position: relative;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0rem 0.1rem 0rem 0.1rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 5rem;
    width: 6rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .About {
    height: 100%;
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: flex;
    flex-direction: column;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right_card {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    flex-wrap: wrap;
    margin-top: 10vh;
  }
  .card {
    position: relative;
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    padding: 0rem 0.2rem 0rem 0.2rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 5rem;
    width: 6rem;
  }
  .ablur {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
  .ablur1 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .About {
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: grid;
    flex-direction: column;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vh;
  }
  .card {
    font-size: 1rem;
    position: relative;
    width: 15vh;
    height: 18vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0rem 0.2rem 0rem 0.2rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 5rem;
    width: 6rem;
  }
  .card span {
    font-size: 0.8rem !important;
  }
  .ablur {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
  .ablur1 {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  .About {
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: flex;
    flex-direction: column;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
  }
  .card {
    position: relative;
    width: 12vh;
    height: 12vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0rem 0.2rem 0rem 0.2rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 3rem;
    width: 3rem;
  }
  .card span {
    font-size: 0.7rem !important;
  }
  .ablur {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
  .ablur1 {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .About {
    padding-top: 6rem;
    margin-bottom: 3rem;
  }
  .a_left {
    display: flex;
    flex-direction: column;
  }
  .a_left > :nth-child(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(2) {
    color: var(--orange);
    font-size: 2rem;
    font-weight: bold;
  }
  .a_left > :nth-child(3) {
    color: black;
    z-index: 2;
    font-size: 0.7rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: justify;
    line-height: 1.5rem;
  }
  .a_button {
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
  }
  .a_right_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10vh;
  }
  .card {
    position: relative;
    width: 10vh;
    height: 12vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    margin: 10px 0px;
    padding: 0rem 0.2rem 0rem 0.2rem;
  }
  .card img {
    transform: scale(0.6);
    margin-bottom: -2rem;
    height: 3rem;
    width: 4rem;
  }
  .card span {
    font-size: 0.6rem !important;
  }
  .ablur {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
  .ablur1 {
    position: absolute;
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background-color: red;
    top: 100rem;
  }
}
/* .About {
  display: flex;
  height: 80vh;
  padding-top: 4rem;
  margin-bottom: 3rem;
}
.a_left {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}
.a_left > :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.a_left > :nth-child(2) {
  color: var(--orange);
  font-size: 2.5rem;
  font-weight: bold;
}
.a_left > :nth-child(3) {
  color: black;
  z-index: 2;
  font-size: 1rem;
  margin-top: 2rem;
  font-weight: 650;
  width: 30rem;
  text-align: justify;
  line-height: 1.5rem;
}
.a_button {
  width: 8rem;
  height: 2rem;
  margin-top: 1rem;
}
.a_right {
  position: relative;
}
.a_right_card {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 45vw;
  height: 100%;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 20vh;
  height: 20vh;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  margin: 0rem 1rem 0rem 0rem;
}
.card img {
  transform: scale(0.6);
  margin-bottom: -2rem;
  height: 5rem;
  width: 6rem;
} */
