@media screen and (min-width: 993px) {
  .home {
    display: flex;
    padding-top: 8rem;
    height: 80vh;
  }
  .h_left {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
  }
  .h_name {
    display: flex;
    flex-direction: column;
  }
  .h_name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2vw;
  }
  .h_name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 2vw;
  }
  .h_name > :nth-child(3) {
    color: var(--gray);
    font-size: 1.5vw;
    margin-top: 0.625rem;
    text-align: justify;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
  }
  .h_icons {
    display: flex;
    gap: 1rem;
    margin-left: -3.5%;
  }
  .h_icons > * {
    transform: scale(0.5);
  }
  .h_icons > * :hover {
    cursor: pointer;
  }
  .h_right {
    flex: 1;
    flex-direction: column;
    position: relative;
  }
  .h_right > :nth-child(2) {
    position: absolute;
    max-width: 40vw;
    left: 5%;
    top: 10%;
  }
  .h_icon {
    position: absolute;
    animation-name: img1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .h_icon > :nth-child(1) {
    width: 6vw;
  }
  @keyframes img1 {
    0% {
      top: 0rem;
      bottom: 0rem;
    }
    50% {
      top: 2rem;
      bottom: 0rem;
    }
    100% {
      top: 0rem;
      bottom: 0rem;
    }
  }
  .blur {
    position: absolute;
    width: 35rem;
    height: 31rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background: rgb(10, 255, 255);
    top: 25rem;
    left: 14rem;
  }
  .blur1 {
    position: absolute;
    width: 35rem;
    height: 31rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background: rgb(10, 255, 255);
    top: 25rem;
    left: 14rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .h_left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding-top: 6rem;
  }
  .h_name {
    display: flex;
    flex-direction: column;
  }
  .h_name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 2rem;
  }
  .h_name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 2rem;
  }
  .h_name > :nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 2vw;
    margin-top: 0.625rem;
    text-align: justify;
  }
  .buttons {
    display: flex;
    justify-content: space-around;
    z-index: 6;
  }
  .h_icons {
    display: flex;
    gap: 1rem;
    margin-left: -3.5%;
  }
  .h_icons > * {
    transform: scale(0.5);
  }
  .h_icons > * :hover {
    cursor: pointer;
  }
  .h_right {
    position: relative;
    height: 100%;
    padding-top: 3rem;
  }
  .h_right > :nth-child(2) {
    position: relative;
    max-width: 100%;
    z-index: 2;
  }
  .h_icon {
    z-index: 5;
    position: absolute;
    animation-name: img1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .h_icon > :nth-child(1) {
    width: 10vw;
  }
  @keyframes img1 {
    0% {
      top: 0rem;
      bottom: 0rem;
    }
    50% {
      top: 1.875rem;
      bottom: 2rem;
    }
    100% {
      top: 0rem;
      bottom: 0rem;
    }
  }
  .blur {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background: rgb(10, 255, 255);
    top: 25rem;
    left: 14rem;
  }
  .blur1 {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    filter: blur(15rem);
    z-index: -5rem;
    background: rgb(10, 255, 255);
    top: 25rem;
    left: 14rem;
  }
}
@media screen and (max-width: 767px) {
  .h_left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding-top: 6rem;
    margin-bottom: 5rem;
  }
  .h_name {
    display: flex;
    flex-direction: column;
  }
  .h_name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 5vw;
  }
  .h_name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 5vw;
  }
  .h_name > :nth-child(3) {
    color: var(--gray);
    font-weight: 100;
    font-size: 4vw;
    margin-top: 0.625rem;
    text-align: justify;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 6;
  }
  .h_icons {
    display: flex;
    margin-left: -3.5%;
  }
  .h_icons > * {
    transform: scale(0.5);
  }
  .h_icons > * :hover {
    cursor: pointer;
  }
  .h_right {
    display: none;
  }
  .blur {
    position: absolute;
    width: 80%;
    height: 15rem;
    border-radius: 50%;
    filter: blur(6rem);
    z-index: -5rem;
    background: rgb(11, 225, 225);
    top: 45rem;
  }
  .blur1 {
    position: absolute;
    width: 80%;
    height: 15rem;
    border-radius: 50%;
    filter: blur(8rem);
    z-index: -5rem;
    background: rgb(11, 255, 255);
    top: 45rem;
  }
}
