.n_wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n_left {
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}
.n_name {
  font-size: 1.3rem;
  font-weight: bold;
}
.n_toggle {
  display: flex;
  justify-content: space-between;
  border: 3px solid var(--orange);
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  cursor: pointer;
}
.n_toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--orange);
}
.n-toggle-button {
  border-radius: 100%;
  background: var(--orange);
  position: absolute;
}

.n_right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.n_list {
  flex: 10;
}
.n_list > ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}
.n_list > ul > li:hover {
  cursor: pointer;
  color: var(--orange);
}
.n_button {
  flex: 2;
}
