@media screen and (min-width: 993px) {
  .n_wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
  }
  .n_wrapper_dark {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
  }
  .n_left {
    flex: 2;
    align-items: center;
    display: flex;
    gap: 2rem;
  }
  .n_name {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  .n_toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--orange);
    border-radius: 1.5rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
    max-width: 2.5rem;
  }
  .n_toggle > * {
    width: 1rem;
    height: 1rem;
    color: var(--orange);
  }
  .n-toggle-button {
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
  }
  .n_right {
    display: flex;
    flex: 1;
    align-items: center !important;
    justify-content: center;
  }
  label #open,
  label #close {
    display: none;
  }
  #check {
    display: none;
  }
  .n_list > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .n_list ul li {
    font-size: 1rem;
  }
  .n_list ul li:hover {
    cursor: pointer;
    color: var(--orange);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .n_wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
  }
  .n_wrapper_dark {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
  }
  .n_left {
    flex: 2;
    align-items: center;
    display: flex;
    gap: 1rem;
  }
  .n_name {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  .n_toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--orange);
    border-radius: 1.5rem;
    position: relative;
    padding: 3px;
    cursor: pointer;
    width: 2rem;
  }
  .n_toggle > * {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--orange);
  }
  .n-toggle-button {
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
  }
  .n_right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  label {
    display: flex;
    align-items: center;
  }
  label #close {
    display: none;
  }
  label #open {
    cursor: pointer;
    display: block;
  }
  #check {
    display: none;
  }
  .n_list {
    position: fixed;
    width: 40%;
    height: 32%;
    line-height: 3vh;
    background-color: black;
    border-radius: 20px;
    right: -100%;
    top: 11vh;
    color: white;
    text-align: center !important;
    transition: all 0.5s;
  }
  .n_list > ul {
    list-style-type: none;
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .n_list ul li {
    margin: 20px 0px;
    font-size: 2rem;
  }
  .n_list ul li:hover {
    cursor: pointer;
    color: var(--orange);
  }
  #check:checked ~ .n_list {
    right: 0px !important;
  }
}
@media screen and (max-width: 767px) {
  .n_wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
  }
  .n_wrapper_dark {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    padding-left: 5%;
    padding-right: 5% !important;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
  }
  .n_left {
    flex: 2;
    align-items: center;
    display: flex;
    gap: 1rem;
  }
  .n_name {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  .n_toggle {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--orange);
    border-radius: 1.5rem;
    position: relative;
    padding: 3px;
    cursor: pointer;
    width: 2rem;
  }
  .n_toggle > * {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--orange);
  }
  .n-toggle-button {
    border-radius: 100%;
    background: var(--orange);
    position: absolute;
  }
  .n_right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  label {
    display: flex;
    align-items: center;
  }
  label #close {
    display: none;
  }
  label #open {
    cursor: pointer;
    display: block;
  }
  #check {
    display: none;
  }
  .n_list {
    position: fixed;
    width: 40%;
    height: 32%;
    line-height: 3vh;
    background-color: black;
    border-radius: 20px;
    right: -100%;
    top: 11vh;
    color: white;
    text-align: center !important;
    transition: all 0.5s;
  }
  .n_list > ul {
    list-style-type: none;
    gap: 1rem;
    margin-right: 2rem;
    cursor: pointer;
  }
  .n_list ul li {
    margin: 20px 0px;
    font-size: 2rem;
  }
  .n_list ul li:hover {
    cursor: pointer;
    color: var(--orange);
  }
  #check:checked ~ .n_list {
    right: 0px !important;
  }
}
